button {
    font-size: 1.5em; /* 30px/16=1.875em */
}
h1 { font-size:1.44em;}
h2 { font-size:1.22em;}
/*
      td{
        height:30px;
        width:70px;
        font-size: 15px;
        text-align: left;
       border: 1px solid black;
      }
      table{
        width:100%;
      }
      */
      
.LIST_ITEM{
    background: #f3f3f3;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.25);
    border-radius: 5px;
    padding:5px 5px 5px 5px;
    margin:5px 5px 5px 5px; 
}
.MOBILE{
    background: #f0f0f0;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.25);
    border-radius: 5px;
    padding:5px 5px 5px 5px;
    margin:5px 5px 5px 5px; 
}

.numberButton{
    font-size: 3em; 
    width:80px;
}