button {
     background:none!important;
     color: #0000EE;
     border:none; 
     padding:0!important;
     font: inherit;
     /*border is optional*/
     /*border-bottom:1px solid #444; */
     cursor: pointer;
}
/* GLOBAL STYLES */
*{font-family: 'Open Sans', sans-serif;font-size: 20px;}
h1, h2,h3{color:#226e93;
  
}
h1{font-weight: 200;font-size:1.44em;text-align: center;}
h2{font-weight: 200;font-size:1.2em;text-align: center;}
h3{font-weight: 200;font-size:1.0em;text-align: center;  margin: 10px 0px 10px 0px;}
p{
    text-align: left;
    margin:3px 3px 3px 8px;
}
ul{
    margin:3px 3px 3px 3px;
}
li{
    font-size:0.8em
}
  table{
        width:100%;
      }
/*
      td{
        height:30px;
        width:70px;
        font-size: 15px;
        text-align: left;
       border: 1px solid black;
      }
      table{
        width:100%;
      }
      */
      
.LIST_ITEM{
    background: #ffffff;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.25);
    border-radius: 5px;
    padding:5px 5px 5px 5px;
    margin:5px 5px 5px 5px; 
}
.MOBILE{
    background: #ffffff;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.25);
    border-radius: 5px;
    padding:5px 5px 5px 5px;
    margin:5px 5px 5px 5px; 
}
.numberButton{
    font-size: 2.5em; 
    width:80px;
}